.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
}
.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
}
.about img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: whitesmoke;
    height: 50px;
}
.about .prompt {
    margin-top: 40px;
    width: 40%;
    font-size: 25px;
}
.prompt svg {
    font-size: 60px;
    margin: 5px;
    color: whitesmoke;
}
.skills {
    margin: 10px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skills h3 {
    font-size: 40px;
    color: #3e497a;
}
.skills .list {
    list-style: none;
    width: 60%;
}
.list span {
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .about h2 {
     font-size: 30px;
  }
  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }
  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }
  .skills h2 {
    font-size: 30px;
  }
}
.item {
  margin-bottom: 15px;
}
.socialMedia svg {
  color: whitesmoke;
  margin: 20px;
  font-size: 40px;
  cursor: pointer;
}
.socialMedia svg:hover {
  filter: brightness(110%);
  transform: scale(1.1);
  transition: 0.1s ease-in;
  color: lightyellow;
}
@media only screen and (max-width: 600px) {
  .socialMedia svg {
    font-size: 20px;
  }
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}