.projects {
  width: 100%;
  margin-top: 10px;
  color: #3e497a;
  font-size: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.projects .projectTitle {
  color: #3e497a;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}
.projectList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
/* MENU ITEM STYLING */
.projectItem {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 10px;
  box-shadow: 0px 3px 15px rgba(58, 58, 58, 0.2);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.projectItem:hover {
  transform: scale(1.02);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in;
}
.projectItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projectItem h1 {
  font-size: 20px;
}
.projectItem small {
  font-size: 10px;
}
.projectItem button {
  padding: 5px 15px 10px;
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
  width: 85px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #3e497a;
  color: whitesmoke;
}
.projectItem button:hover {
  filter: brightness(120%);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
}
@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .projectList {
    width: 100%;
  }
  .projectItem {
    width: 300px;
    height: 300px;
  }
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}