.project {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project img {
  margin-top: 0;
  width: 700px;
  border-radius: 10px;
}
.project p {
  font-size: 25px;
  color: #3e497a;
}
.project svg {
  font-size: 50px;
  color: #3e497a;
}
ul {
  list-style-type: none;
}