.skills h3 {
    font-size: 40px;
    color: #3e497a;
}
.skills {
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.skill-list {
    margin-top: 10px;
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
  }
.skills .list {
    list-style: none;
    width: 60%;
}
.skill {
    margin-bottom: 15px;
    background: none;
}
.skill button {
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    border-style: none;
    background-color: transparent;
    width: 70px;
    height: auto;
}
.skill button:hover {
    filter: brightness(110%);
    transition: 0.1s ease-in;
    transform: scale(1.1);
}
@media only screen and (max-width: 1300px) {
    .skill-list {
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 900px) {
    .skill-list {
         grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 700px) {
    .skill-list {
         grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 500px) {
    .skill-list {
         grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 300px) {
    .skill-list {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }